<div class="sidebar" data-color="azure" data-background-color="white" >
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            Menu Admin Material
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-background" style="background-image: url('{{asset('admin/assets/material') }}/img/sidebar-3.jpg');"></div>
</div>